/*=====================New Dashboard===========================*/
.project_box {
    position: relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182, 232, 0.31);
    background-color: rgb(214, 158, 158);
}
.project_box_title {
    font-size: 13px;
    color: black;
}
.project_count {
    font-size: 25px;
    color: black;
    font-weight: 250;
}

.half_chart.chart-container.card-shadow {
	height: 49%;
}
